In [27]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd

engine = create_engine('mysql+pymysql://root:12345678@127.0.0.1:3306/testdb?charset=utf8')
detail = pd.read_sql_table('meal_order_detail1',con = engine)
order = pd.read_table('data/meal_order_info.csv',sep=',',encoding='gbk')
users = pd.read_excel('data/users.xlsx')

# 定义一个函数剔除全为空值的列和标准差为0的列
def dropNullStd(data):
    beforelen = data.shape[1]
    
    colisNull = data.describe().loc['count'] != 0
    for i in range(len(colisNull)):
        if colisNull[i]:
            data.drop(colisNull.index[i],axis=1,inplace=True)
            
#     stdisZero = data.describe().loc['std'] != 0
#     for i in range(len(stdisZero)):
#         if stdisZero[i]:
#             data.drop(stdisZero.index[i],axis=1,inplace=True)
      
    afterlen = data.shape[1]
    print(beforelen)
    print(afterlen)
    print('剔除列的数目为：',(beforelen-afterlen))
    print('剔除后的数据形状为：',data.shape)

In [3]:
dropNullStd(detail)

19
19
剔除列的数目为： 0
剔除后的数据形状为： (2779, 19)

In [28]:
dropNullStd(order)

21
10
剔除列的数目为： 11
剔除后的数据形状为： (945, 10)

In [7]:
dropNullStd(users)

37
24
剔除列的数目为： 13
剔除后的数据形状为： (734, 24)

In [10]:
colisNull = order.describe()
print(colisNull)

           info_id       emp_id  number_consumers  mode  dining_table_id  \
count   945.000000   945.000000        945.000000   0.0       945.000000
mean    771.641270  1205.673016          5.212698   NaN      1473.750265
std     324.416006   168.282689          2.363710   NaN        88.661236
min     137.000000   982.000000          1.000000   NaN       459.000000
25%     507.000000  1095.000000          3.000000   NaN      1482.000000
50%     746.000000  1148.000000          5.000000   NaN      1486.000000
75%    1078.000000  1288.000000          7.000000   NaN      1491.000000
max    1325.000000  1610.000000         10.000000   NaN      1519.000000

       dining_table_name  expenditure  dishes_count  accounts_payable  \
count         945.000000   945.000000    945.000000        945.000000
mean         1010.735450   492.289947     11.805291        492.289947
std             8.818909   268.271358      5.652749        268.271358
min          1001.000000    48.000000      1.000000         48.000000
25%          1005.000000   267.000000      7.000000        267.000000
50%          1008.000000   451.000000     11.000000        451.000000
75%          1013.000000   698.000000     15.000000        698.000000
max          1040.000000  1314.000000     36.000000       1314.000000

       check_closed  cashier_id  pc_id  order_number      org_id  \
count           0.0         0.0    0.0           0.0  945.000000
mean            NaN         NaN    NaN           NaN  329.596825
std             NaN         NaN    NaN           NaN    2.234028
min             NaN         NaN    NaN           NaN  304.000000
25%             NaN         NaN    NaN           NaN  330.000000
50%             NaN         NaN    NaN           NaN  330.000000
75%             NaN         NaN    NaN           NaN  330.000000
max             NaN         NaN    NaN           NaN  330.000000

       print_doc_bill_num  lock_table_info  order_status         phone
count                 0.0              0.0    945.000000  9.450000e+02
mean                  NaN              NaN      0.993651  1.868888e+10
std                   NaN              NaN      0.112568  2.283489e+02
min                   NaN              NaN      0.000000  1.868888e+10
25%                   NaN              NaN      1.000000  1.868888e+10
50%                   NaN              NaN      1.000000  1.868888e+10
75%                   NaN              NaN      1.000000  1.868888e+10
max                   NaN              NaN      2.000000  1.868888e+10

In [12]:
colisNull = order.describe().loc['count']
print(colisNull)

info_id               945.0
emp_id                945.0
number_consumers      945.0
mode                    0.0
dining_table_id       945.0
dining_table_name     945.0
expenditure           945.0
dishes_count          945.0
accounts_payable      945.0
check_closed            0.0
cashier_id              0.0
pc_id                   0.0
order_number            0.0
org_id                945.0
print_doc_bill_num      0.0
lock_table_info         0.0
order_status          945.0
phone                 945.0
Name: count, dtype: float64

In [19]:
colisNull = order.describe().loc['count'] == 0
print(colisNull)

info_id               False
emp_id                False
number_consumers      False
mode                   True
dining_table_id       False
dining_table_name     False
expenditure           False
dishes_count          False
accounts_payable      False
check_closed           True
cashier_id             True
pc_id                  True
order_number           True
org_id                False
print_doc_bill_num     True
lock_table_info        True
order_status          False
phone                 False
Name: count, dtype: bool

In [15]:
stdisZero = order.describe().loc['std']
print(stdisZero)

info_id               324.416006
emp_id                168.282689
number_consumers        2.363710
mode                         NaN
dining_table_id        88.661236
dining_table_name       8.818909
expenditure           268.271358
dishes_count            5.652749
accounts_payable      268.271358
check_closed                 NaN
cashier_id                   NaN
pc_id                        NaN
order_number                 NaN
org_id                  2.234028
print_doc_bill_num           NaN
lock_table_info              NaN
order_status            0.112568
phone                 228.348921
Name: std, dtype: float64

In [20]:
stdisZero = order.describe().loc['std'] != 0
print(stdisZero)

info_id               True
emp_id                True
number_consumers      True
mode                  True
dining_table_id       True
dining_table_name     True
expenditure           True
dishes_count          True
accounts_payable      True
check_closed          True
cashier_id            True
pc_id                 True
order_number          True
org_id                True
print_doc_bill_num    True
lock_table_info       True
order_status          True
phone                 True
Name: std, dtype: bool